/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
mat-drawer-container, mat-drawer, mat-drawer-content{
  height: 100%;
}
mat-drawer{
  width: 12%;
}
mat-toolbar{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
